<div id="timeline" class="timeline">

  <h1 class="title">
    <span class="text">&nbsp;&nbsp; Education and employment &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
    <span class="arrow">></span>
  </h1>

  <!-- Educational row -->
  <div class="information-row-up">
    <ng-container *ngFor="let event of events">
      <ng-container *ngIf="!event.professional">
        <div class="card">
          <div class="content">
            <span class="heading">{{ event.organization }}</span>
            <span class="subheader">
              {{ event.date.from | date : "MMM yyyy" }} - {{ event.date.to | date : "MMM yyyy" }}
            </span>
            <span class="para" *ngFor="let description of event.descriptions">
              <li> {{ description }} </li>
            </span>
          </div>
        </div>
      </ng-container>
      <ng-container *ngIf="event.professional">
        <div class="card hidden"></div>
      </ng-container>
    </ng-container>
  </div>

  <div class="dot-container">
    <div *ngFor="let event of events; let i = index;" class="dot" [ngStyle]=""></div>
  </div>
  <hr class="line" />
  <!-- Professional row -->
  <div class="information-row-down">
    <ng-container *ngFor="let event of events">
      <ng-container *ngIf="event.professional">
        <div class="card">
          <div class="content">
            <span class="heading">{{ event.organization }}</span>
            <span class="subheader">
              {{ event.date.from | date : "MMM yyyy" }} - {{ event.date.to | date : "MMM yyyy" }}
            </span>
            <span class="para" *ngFor="let description of event.descriptions">
              <li> {{ description }} </li>
            </span>
          </div>
        </div>
      </ng-container>
      <ng-container *ngIf="!event.professional">
        <div class="card hidden"></div>
      </ng-container>
    </ng-container>
  </div>
</div>
