<div class="outro-wrapper vertical">
    <div class="outro-information horizontal">
        <div class="outro-personal-details vertical">
            <div class="horizontal info">
                <span><b>Toni Farina</b></span>
            </div>
            <div class="horizontal info">
                <span>E-mail:</span>
                &nbsp;
                <a href="mailto:tfarina58@gmail.com">tfarina58&#64;gmail.com</a>
            </div>
            <div class="horizontal info">
                <span>Phone:</span>
                &nbsp;
                <a href="tel:+38599716110">+385 99 471 6110</a>
            </div>
            <div class="horizontal info">
                <span>GitHub:</span>
                &nbsp;
                <a href="https://github.com/tfarina58">github.com/tfarina58</a>
            </div>
            <div class="horizontal info">
                <span>LinkedIn:</span>
                &nbsp;
                <a href="https://www.linkedin.com/in/toni-farina-b4759522a/">linkedin.com/in/toni-farina-b4759522a/</a>
            </div>
        </div>
        <div class="spacer"></div>
        <div class="outro-image">
        </div>
    </div>
    <span class="last-update">Last updated on {{lastUpdated | date: "dd.MM.yyyy"}} at {{lastUpdated | date: "hh:mm:ss"}}</span>
</div>
