<div class="intro-wrapper">
    <span class="intro-row">
        Hi, I’m Toni Farina and I'm a full-stack developer.
    </span>
    <br>
    <span class="intro-row">
        I love building clean, reliable web apps by turning complex ideas into simple, solid solutions.
    </span>
    <br>
    <span class="intro-row">
        Whether it’s crafting smooth user interfaces or architecting solid back-end systems, I focus on writing code that works and lasts.
    </span>
    <br>
    <span class="intro-row">
        Check out what I’ve been working on 👇.
    </span>
</div>