<ng-container *ngIf="expanded">
  <div class="game-card-wrapper-expanded">
    <img src="https://image.api.playstation.com/vulcan/ap/rnd/202111/3013/2tW2zf7n8wwwWXZO9dAQMVu5.png" class="game-card-image" />
    <div class="game-card-description-wrapper">
      <div class="game-card-title">Cyberpunk 2077</div>
      <div class="game-card-short-description">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has be</div>
    </div>
  </div>
</ng-container>

<ng-container *ngIf="!expanded">
  <div class="game-card-wrapper">
    <img src="https://image.api.playstation.com/vulcan/ap/rnd/202111/3013/2tW2zf7n8wwwWXZO9dAQMVu5.png" class="game-card-image" />
    <div class="game-card-description-wrapper">
      <div class="game-card-title">Cyberpunk 2077</div>
    </div>
  </div>
</ng-container>