.contact-wrapper {
    padding: 5rem;

    .input-field-header {
        font-size: 2rem;
        margin-bottom: 3vh;
    }

    .input-field-wrapper {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: flex-start;
        background-color: transparent;

        .input-field-title {
            margin-bottom: 1vh;
            font-size: 1.4rem;
        }

        .input-field {
            margin-bottom: 1vh;
            border: none;
            border-bottom: 2px solid #bfbfbf;
            height: 3vh;
            text-indent: 0.6rem;
            outline: none;
            box-shadow: none;
            width: 100%;
        }

        .input-field:focus {
            border-bottom: 2px solid #fb9a40;
        }
    }

    .submit {
        border: 2px solid #bfbfbf;
        height: 5vh;
        width: 12vw;
        font-size: 0.9rem;
        color: #bfbfbf;
        background: white;
    }

    .submit-valid {
        border: 2px solid #fb9a40;
        color: #fb9a40;
    }
}